# SQL HW4 Bing Han bh2589

### Question 1: Give a count of all videos currently out.

SELECT COUNT(*) FROM rental

WHERE return_date IS null

### Qustion 2: Make a list of all customer names who have videos out and how much they owe.

SELECT rental.customer_id, customer.first_name, customer.last_name,count(*)

FROM rental

JOIN customer ON rental.customer_id=customer.customer_id

WHERE rental.return_date is null

GROUP BY rental.customer_id,customer.first_name,customer.last_name

ORDER BY COUNT DESC

### Qustion 3: Give the most popular actors by store location.

SELECT add.address,COUNT(fa.actor_id), first_name, last_name

FROM rental rent

JOIN inventory iv on iv.inventory_id = rent.inventory_id

JOIN store st on st.store_id = iv.store_id

JOIN address add on add.address_id = st.address_id

JOIN film_actor fa on fa.film_id = iv.film_id

JOIN actor act on act.actor_id = fa.actor_id

GROUP BY add.address,first_name,last_name

ORDER BY COUNT DESC

### Question 4: What hour of the day to people rent the most?

SELECT EXTRACT(HOUR FROM rental_date) AS Hour, COUNT(*)

FROM rental

GROUP BY Hour

ORDER BY COUNT DESC

LIMIT 1

### Question 6: Which store is more profitable, assuming all movies cost $15 per inventory item to purchase.

SELECT s.store, (s.total_sales - 15*count(i.inventory_id)) AS profit

FROM sales_by_store s

JOIN staff_list sl on sl.name = s.manager

JOIN inventory i on i.store_id = sl.sid

GROUP BY s.store, s.total_sales